@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1655630146015') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-faxian:before {
  content: "\e67e";
}

.icon-iconfontzhizuobiaozhunbduan27:before {
  content: "\e6e1";
}

.icon-view-more:before {
  content: "\e676";
}

.icon-jinrujiantou:before {
  content: "\e88e";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-shaixuan:before {
  content: "\e64d";
}

.icon-fangzi:before {
  content: "\e8ff";
}

.icon-kucun:before {
  content: "\e74a";
}

