<<<<<<< HEAD
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    font-style: 30px;
    font-family: sans-serif;
}
.loader {
    display: flex;
    align-items: flex-end;
    transform: translateY(-35px);
}
.loader span {
    width: 20px;
    height: 20px;
    background: #111;
    margin: 0 10px;
    height: calc(20px * var(--i));
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: lo 1s linear infinite;
    animation-delay: calc(0.2s * var(--i));
}
@keyframes lo {
    0%{
        background: #fff;
        filter: blur(2px);
        box-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 400px #00b3ff;
    }
    25%,50%,75%{
        background: #111;
        filter: blur(0px);
        box-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 400px #00b3ff;
    }
    100%{
        background: #fff;
        filter: blur(2px);
        box-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 400px #00b3ff;
    }
}
.loader span i {
    display: block;
    color: #fff;
    font-weight: bold;
    transform: translateY(70px);
    animation: bb 1s linear infinite;
    animation-delay: calc(0.2s * var(--i));
}
@keyframes bb {
    0%{
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 400px #00b3ff;
    }
    25%,50%,75%{
        color: #111;
        filter: blur(0px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 400px #00b3ff;
    }
    100%{
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 400px #00b3ff;
    }
=======
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    font-style: 30px;
    font-family: sans-serif;
}
.loader {
    display: flex;
    align-items: flex-end;
    transform: translateY(-35px);
}
.loader span {
    width: 20px;
    height: 20px;
    background: #111;
    margin: 0 10px;
    height: calc(20px * var(--i));
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: lo 1s linear infinite;
    animation-delay: calc(0.2s * var(--i));
}
@keyframes lo {
    0%{
        background: #fff;
        filter: blur(2px);
        box-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 400px #00b3ff;
    }
    25%,50%,75%{
        background: #111;
        filter: blur(0px);
        box-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 400px #00b3ff;
    }
    100%{
        background: #fff;
        filter: blur(2px);
        box-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 400px #00b3ff;
    }
}
.loader span i {
    display: block;
    color: #fff;
    font-weight: bold;
    transform: translateY(70px);
    animation: bb 1s linear infinite;
    animation-delay: calc(0.2s * var(--i));
}
@keyframes bb {
    0%{
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 400px #00b3ff;
    }
    25%,50%,75%{
        color: #111;
        filter: blur(0px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 400px #00b3ff;
    }
    100%{
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 400px #00b3ff;
    }
>>>>>>> 3060b42 (第一次Git提交所有文件)
}