/*  样式重置  */
*{
    margin: 0;
    padding: 0;
    /* 元素的轮廓 */
    outline: 0;  
}
/* css 继承 */
html,body{
    height: 100%;
}
body{
    background-color: #373737;
}
.page__hd{
    padding: 40px;
}
.page__title{
    text-align: left;
    font-size: 40px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}
.page__desc{
    margin-top: 4px;
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
}

.button-sp-area{
    margin: 15px auto;
    padding: 15px;
    text-align: center;
}
.weui-btn{
    /* 显示为一个块 */
    display: block;   
    width: 184px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    color: #fff;
    background-color: green;
    border-radius: 8px;
    /* 下划线去除 */
    text-decoration: none;
    /* 行高 17*1.88*/
    line-height: 1.88235294;
}

