@font-face {
  font-family: "iconfont"; /* Project id 3520559 */
  src: url('iconfont.woff2?t=1657713579466') format('woff2'),
       url('iconfont.woff?t=1657713579466') format('woff'),
       url('iconfont.ttf?t=1657713579466') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiasanjiaoxing:before {
  content: "\e642";
}

.icon-yousanjiaoxing:before {
  content: "\e644";
}

.icon-dengji:before {
  content: "\e62a";
}

.icon-jiaren:before {
  content: "\e614";
}

.icon-longmao-:before {
  content: "\e621";
}

.icon-shezhi2:before {
  content: "\e64c";
}

.icon-tuichu:before {
  content: "\e638";
}

.icon-duihuaqipao:before {
  content: "\e61f";
}

.icon-taiyang:before {
  content: "\e635";
}

.icon-yueliang:before {
  content: "\e63e";
}

.icon-bianji:before {
  content: "\e655";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-daka:before {
  content: "\e62b";
}

.icon-add:before {
  content: "\e664";
}

.icon-browse:before {
  content: "\e666";
}

.icon-more:before {
  content: "\e679";
}

.icon-user:before {
  content: "\e682";
}

.icon-jia:before {
  content: "\e715";
}

