@font-face {
  font-family: "iconfont"; /* Project id 3520559 */
  src: url('iconfont.woff2?t=1657797635666') format('woff2'),
       url('iconfont.woff?t=1657797635666') format('woff'),
       url('iconfont.ttf?t=1657797635666') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wangyou:before {
  content: "\e600";
}

.icon-xinshouxuetang:before {
  content: "\e601";
}

.icon-likaiim:before {
  content: "\e609";
}

.icon-mangluim:before {
  content: "\e60f";
}

.icon-yinshenim:before {
  content: "\e616";
}

.icon-electricquantity2dianchidianliang:before {
  content: "\e6e8";
}

.icon-jia1:before {
  content: "\e60d";
}

.icon-lianai:before {
  content: "\e6e2";
}

.icon-shu:before {
  content: "\e809";
}

.icon-ava_nodisturb:before {
  content: "\e626";
}

.icon-xigua:before {
  content: "\e60c";
}

.icon-yezi:before {
  content: "\e610";
}

.icon-yun:before {
  content: "\eb2c";
}

.icon-yundong-:before {
  content: "\ee31";
}

.icon-ma:before {
  content: "\e694";
}

.icon-chuang:before {
  content: "\e662";
}

.icon-mifan:before {
  content: "\e68b";
}

.icon-yu:before {
  content: "\e615";
}

.icon-bangbangtang:before {
  content: "\e611";
}

.icon-yuandian:before {
  content: "\e628";
}

.icon-jizhang:before {
  content: "\e75a";
}

.icon-dianshi:before {
  content: "\e90a";
}

.icon-quhaidaowan:before {
  content: "\ebd5";
}

.icon-weixiao:before {
  content: "\e603";
}

.icon-kouzhao:before {
  content: "\e678";
}

.icon-tianqi:before {
  content: "\e6df";
}

.icon-chigua:before {
  content: "\e60a";
}

.icon-goutou:before {
  content: "\e60e";
}

.icon-changjianwenti-mianxing:before {
  content: "\e612";
}

.icon-emot:before {
  content: "\e68c";
}

.icon-xinhao:before {
  content: "\e613";
}

.icon-jinli:before {
  content: "\e62f";
}

.icon-xiongmao:before {
  content: "\e620";
}

.icon-tingge:before {
  content: "\e718";
}

.icon-xiasanjiaoxing:before {
  content: "\e642";
}

.icon-yousanjiaoxing:before {
  content: "\e644";
}

.icon-dengji:before {
  content: "\e62a";
}

.icon-jiaren:before {
  content: "\e614";
}

.icon-longmao-:before {
  content: "\e621";
}

.icon-shezhi2:before {
  content: "\e64c";
}

.icon-tuichu:before {
  content: "\e638";
}

.icon-duihuaqipao:before {
  content: "\e61f";
}

.icon-taiyang:before {
  content: "\e635";
}

.icon-yueliang:before {
  content: "\e63e";
}

.icon-bianji:before {
  content: "\e655";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-daka:before {
  content: "\e62b";
}

.icon-add:before {
  content: "\e664";
}

.icon-browse:before {
  content: "\e666";
}

.icon-more:before {
  content: "\e679";
}

.icon-user:before {
  content: "\e682";
}

.icon-jia:before {
  content: "\e715";
}

